.create-order {
    width: 100%;
    height: calc(100vh - 130px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}


.create-sellingorder-form {
    width: 700px;
    display: flex;
    margin-bottom: 100px;
    flex-direction: column;
}

.create-sellingorder-title
 {
  
    border: 1px solid var(--gray-color);
    font-size: 18px;
 
}

.create-order-textarea {
    resize: none;
}

.create-order-upload {
    background-color: pink;
}

.create-order-btn {
    width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: palevioletred;
    color: var(--white-color);
    border: none;
    font-size: 21px;
    font-weight: 500;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
}

/* Media Queries */
@media (max-width: 820px) {
    .create-order-form {
        width: 100%;
    }
}